// ============================================================================
// Component
// Icon
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.c-icon {
    height: rem(120);
    margin: ms(1, rem);
    width: rem(120);

    align-items: center;
    display: flex;
    flex-direction: column;

    background-color: transparent;

    // States
    &:hover {
        text-decoration: underline;
    }

    &:active,
    &:focus {
        outline: $global-border-radius solid c(highlight, background);

        background-color: c(highlight, background);

        color: c(highlight, text);
    }

    &__image {
        height: rem(80);
        margin-top: ms(0.25, rem);
        width: rem(80);

        background-color: transparent;
    }

    &__label {
        line-height: 1;
        margin-top: ms(0.5, rem);
    }

    &--pdf {
        position: absolute;
        top: ms(4, rem);
        left: 30%;
    }
}
