// ============================================================================
// Borders
// ============================================================================


/// REVIEW: Remember to update these values to match the design.
///
/// @group general
///
/// @property {String} key - Aliases for border widths.
///
/// @see {variable} global-border-radius


$borders: (
    thickest: 0.4375rem, // 7 / 16px
    thicker:  0.25rem, // 4 / 16px
    thick:    5px,
    thin:     3px,
    thinner:  2px,
    thinnest: 1px
);
