// ============================================================================
// Colors
// ============================================================================


/// Basic, component, and subcomponent color names.
///
/// @group general
///
/// @property {Color} key - Aliases for specific colors



$colors: (

    // Basics -----------------------------------------------------------------
    // http://clrs.cc/
    aqua:    #7fdbff,
    black:   #111111,
    blue:    #0074d9,
    fuchsia: #f012be,
    gray:    #aaaaaa,
    green:   #2ecc40,
    lime:    #01ff70,
    maroon:  #85144b,
    navy:    #001f3f,
    olive:   #3d9970,
    orange:  #ff851b,
    purple:  #b10dc9,
    red:     #ff4136,
    silver:  #dddddd,
    teal:    #39cccc,
    yellow:  #ffdc00,


    // Base -------------------------------------------------------------------
    base: (
        type:       #111111,
        background: #0194cb
    ),


    // Links -------------------------------------------------------------------
    link: (
        base:    #0074d9,
        hover:   #7fdbff,
        focus:   #ff851b,
        active:  #ff4136,
        visited: #ae00ff,
        busy:    #dddddd
    ),

    // Highlights -------------------------------------------------------------
    highlight: (
        background: #205790,
        text:  #ffffff
    ),


    // Headings ---------------------------------------------------------------
    heading: (
        base: #111111,
        odd:  #9b9b9b,
        even: #4a4a4a
    ),


    // Buttons ----------------------------------------------------------------
    button: (
        text:                 #ffffff,
        background-primary:   #0074d9,
        background-secondary: #879caa,
    ),


    // Forms ------------------------------------------------------------------
    form: (
        base:   #879caa,
        hover:  #738591,
        focus:  #111111,
        active: #111111,
        busy:   #879caa
    ),


    // Component --------------------------------------------------------------
    l-window: (
       background-inner: #fefdfb,
       background-outer: #cfd6e1,
       border-inner: #879caa,
       border-outer: #cfd6e1
    ),


    // Component --------------------------------------------------------------
    c-garbage-table: (
        border: #cfd6e1,
        twitter: #059FF5
    ),

    c-icon: (
       highlight-background: #205790,
       highlight-text: #ffffff
    ),

    c-window: (
       border: #879caa,
       button-primary-base: #205790,
       button-secondary-base: #879caa,
       label: #111111
    )
);
