// ============================================================================
// Z-index
// ============================================================================


/// Z-index names.
///
/// @group general
///
/// @property {Number} key - Aliases for layouts, objects, components, etc.


$z-index: (
    // Banish things out of sight
    basement: -999999,


    // Layout -----------------------------------------------------------------
    l-desktop: 1000,


    // Object -----------------------------------------------------------------
    o-window: 3000,
        o-window-computer: 3010,
        o-window-trash: 3020,
        o-window-folder: 3030,


    // Component --------------------------------------------------------------
    c-icon: 2000,


    // Ensure things are displayed
    ceiling: 999999
);
