// ============================================================================
// Global Attributes
// ============================================================================


[disabled] {
    @include content-remove-interaction();

    opacity: 0.2;

    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

// [contenteditable] {
//
// }
//
//
// [draggable] {
//
// }
//
//
// [dropzone] {
//
// }
//
//
// [spellcheck] {
//
// }
