// ============================================================================
// Layout
// Desktop
// ============================================================================


// Layout Logic ---------------------------------------------------------------



// Layout Styling -------------------------------------------------------------
.l-desktop {
    display: flex;
    flex-direction: column;
    margin-left: ms(1, rem);
    z-index: z(l-desktop);
}
