<button
    id="computer"
    class="c-icon c-icon--computer">
    <span class="c-icon__label">Computer</span>
</button>

<button
    id="trash"
    class="c-icon c-icon--garbage">
    <span class="c-icon__label">Garbage</span>
</button>

<button
    id="folder"
    class="c-icon c-icon--cat-pics">
    <span class="c-icon__label">cat pics</span>
</button>

<button
    id="pdf"
    class="c-icon c-icon--pdf">
    <span class="c-icon__label">internet.pdf</span>
</button>
