<button
    id="computer"
    class="c-icon">
    <img
        alt=""
        class="c-icon__image"
        src="images/components/c-icon/computer.png" />
    <span class="c-icon__label">Computer</span>
</button>

<button
    id="trash"
    class="c-icon">
    <img
        alt=""
        class="c-icon__image"
        src="images/components/c-icon/garbage.png" />
    <span class="c-icon__label">Garbage</span>
</button>

<button
    id="folder"
    class="c-icon">
    <img
        alt=""
        class="c-icon__image"
        src="images/components/c-icon/folder.png" />
    <span class="c-icon__label">cat pics</span>
</button>



<button
    id="pdf"
    class="c-icon c-icon--pdf">
    <img
        alt=""
        class="c-icon__image"
        src="images/components/c-icon/pdf.png" />
    <span class="c-icon__label">internet.pdf</span>
</button>
