// ============================================================================
// Object
// Window
// ============================================================================


// Object Logic ---------------------------------------------------------------
$o-window-outer-border: rem(7) solid c(l-window, border-outer);

@mixin o-window-background() {
    background: #cfd6e1;
    background: -moz-linear-gradient(left, #cfd6e1 0%, #fefefe 50%, #cfd6e1 100%);
    background: -webkit-linear-gradient(left, #cfd6e1 0%, #fefefe 50%, #cfd6e1 100%);
    background: linear-gradient(to right, #cfd6e1 0%, #fefefe 50%, #cfd6e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd6e1', endColorstr='#cfd6e1',GradientType=1 );
}


// Object Styling -------------------------------------------------------------
.o-window {
    @include content-hide(remove);

    flex-direction: column;
    justify-content: space-between;
    z-index: z(ceiling);

    border-right: $o-window-outer-border;
    border-left: $o-window-outer-border;
    border-radius: $global-border-radius $global-border-radius 0 0;

    background-color: c(l-window, background-inner);
    box-shadow: shadow(large) transparentize(c(base, type), 0.5);

    // Windows
    &--open {
        width: 77vw;
        height: 80vh;
        position: absolute;
          bottom: 50px;
          right: 50px;
    }

    // States
    &--open {
        display: flex;
    }

    &__titlebar {
        @include o-window-background();

        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-top: rem(2);

        background-color: c(l-window, background-outer);
    }

    &__content {
        @include content-delobotomize();

        flex-grow: 1;
        padding: ms(0.5, rem);

        border-top: 2px solid c(l-window, border-inner);
    }

    &__summary {
        @include component-set-type-size();
        @include content-delobotomize();
        @include typography-align(end);
        @include o-window-background();

        padding-top: rem(4);
        padding-bottom: rem(4);

        border-top: 1px solid c(l-window, border-inner);

        font-size: em(11);

        cursor: default;
    }

    &__files {
        list-style-type: none;
    }
}
