// ============================================================================
// Object
// Window
// ============================================================================


// Object Logic ---------------------------------------------------------------
$o-window-outer-border: 10px solid c(l-window, border-outer);

@mixin o-window-background() {
    background: #cfd6e1;
    background: -moz-linear-gradient(left, #cfd6e1 0%, #fefefe 50%, #cfd6e1 100%);
    background: -webkit-linear-gradient(left, #cfd6e1 0%, #fefefe 50%, #cfd6e1 100%);
    background: linear-gradient(to right, #cfd6e1 0%, #fefefe 50%, #cfd6e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd6e1', endColorstr='#cfd6e1',GradientType=1 );
}


// Object Styling -------------------------------------------------------------
.o-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 77vw;
    height: 80vh;
    position: absolute;
      bottom: 50px;
      right: 50px;
    z-index: z(ceiling);

    border-right: $o-window-outer-border;
    border-left: $o-window-outer-border;
    border-radius: $global-border-radius $global-border-radius 0 0;

    background-color: c(l-window, background-inner);
    box-shadow: 0px 5px 12px 0px transparentize(#111111, 0.5);

    &__titlebar {
        @include o-window-background();

        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-top: rem(2);

        background-color: c(l-window, background-outer);
    }

    &__content {
        @include content-delobotomize();

        flex-grow: 1;
        padding: ms(0.75, rem);

        border-top: 2px solid c(l-window, border-inner);
    }

    &__summary {
        @include component-set-type-size();
        @include content-delobotomize();
        @include typography-align(end);
        @include o-window-background();

        padding-top: rem(4);
        padding-bottom: rem(4);

        border-top: 1px solid c(l-window, border-inner);

        font-size: em(11);

        cursor: default;
    }

    &__files {
        // display: flex;
        list-style-type: none;
    }
}
