<ol class="o-window__files">

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="#">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/smokeythumb.jpg" />
            smokey-01.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="http://i.imgur.com/4dV37cb.jpg">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/thumb-bucket-01.jpg" />
            02.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="#">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/smokeythumb.jpg" />
            02.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="#">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/smokeythumb.jpg" />
            02.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="#">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/smokeythumb.jpg" />
            02.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="#">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/smokeythumb.jpg" />
            02.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="#">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/smokeythumb.jpg" />
            02.jpg
        </a>
    </li>

</ol>
