<ol class="o-window__files">

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="https://raw.githubusercontent.com/danielsmc/pdfproxy/master/source/components/c-window/full-bucket-01.jpg">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/thumb-bucket-01.jpg" />
            bucket.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="http://russellgoldenberg.com/smokey/img/44.jpg">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/thumb-smokey-01.jpg" />
            smokey1.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="http://russellgoldenberg.com/smokey/img/93.jpg">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/thumb-smokey-02.jpg" />
            smokey2.JPG
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="http://russellgoldenberg.com/smokey/img/21.jpg">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/thumb-smokey-03.jpg" />
            smokey3.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="http://russellgoldenberg.com/smokey/img/67.jpg">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/thumb-smokey-04.jpg" />
            smokey4.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="http://russellgoldenberg.com/smokey/img/88.jpg">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/thumb-smokey-05.jpg" />
            smokey5.jpg
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="https://raw.githubusercontent.com/danielsmc/pdfproxy/master/source/components/c-window/full-tribble-01.jpg">
            <img
                alt=""
                class="c-window__thumbnail"
                src="images/components/c-window/thumb-tribble-01.jpg" />
            tribbs.jpg
        </a>
    </li>

</ol>
