<table class="c-garbage-table">
    <tbody>
        <tr class="c-garbage-table__row">

            <td scope="row">
                <a
                    class="c-garbage-table__link"
                    href="https://twitter.com/mclaughlin"
                    rel="external noopener">
                    <svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon c-garbage-table__icon c-garbage-table__icon--twitter"><use xlink:href="#icon-twitter"></use></svg>
                    @mclaughlin
                </a>
            </td>
            <td class="c-garbage-table__type">
                Twitter
            </td>

        </tr>
        <tr>

            <td scope="row">
                <a
                    class="c-garbage-table__link"
                    href="https://twitter.com/ericwbailey"
                    rel="external noopener">
                    <svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon c-garbage-table__icon c-garbage-table__icon--twitter"><use xlink:href="#icon-twitter"></use></svg>
                    @ericwbailey
                </a>
            </td>
            <td class="c-garbage-table__type">
                Twitter
            </td>

        </tr>
        <tr class="c-garbage-table__row">

            <td scope="row">
                <a
                    class="c-garbage-table__link"
                    href="https://tinyletter.com/hot-garbage"
                    rel="external noopener">
                    <svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon c-garbage-table__icon c-garbage-table__icon--fresh-garbage"><use xlink:href="#icon-fresh-garbage"></use></svg>
                    Fresh Garbage
                </a>
            </td>
            <td class="c-garbage-table__type">
                Newsletter
            </td>

        </tr>
    </tbody>
</table>
