<p class="c-window__alert-message">
    The destination of this shortcut has changed. Please specifiy a new destination.
</p>

<form
    action="https://ancient-cove-23618.herokuapp.com/"
    method="GET">

    <input
        class="c-window__input"
        name="url"
        placeholder="Type or paste a URL here">
    <a
        href="https://ancient-cove-23618.herokuapp.com/?url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FPDF"
        class="c-window__hint"
        rel="external noopener">
        Or try https://en.wikipedia.org/wiki/PDF
    </a>

    <button
        class="c-button c-button--primary"
        type="submit">
        OK
    </button>

    <button
        class="c-button c-button--secondary"
        type="button"
        data-window-close>
        Cancel
    </button>

</form>
