<h2 class="c-window__title">Cat Pics</h2>

<button
    class="c-window__close"
    data-window-close>
    <svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon"><use xlink:href="#icon-close"></use></svg>
</button>
