<p class="c-window__alert-message">
    The destination of this shortcut has changed. Please specify a new destination.
</p>

<form
    action="https://proxy.internetdotpdf.biz/"
    method="GET">

    <fieldset id="form-controls">

        <input
            id="form-input"
            class="c-window__input"
            autocapitalize="off"
            name="url"
            placeholder="Type or paste a URL here"
            type="url">
        <a
            href="https://proxy.internetdotpdf.biz/?url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FPDF"
            class="c-window__hint"
            rel="external noopener">
            Or try: https://en.wikipedia.org/wiki/PDF
        </a>

        <button
            id="form-submit"
            class="c-button c-button--primary"
            type="submit">
            OK
        </button>

        <button
            id="form-cancel"
            class="c-button c-button--secondary"
            type="button"
            data-window-close>
            Cancel
        </button>

    </fieldset>

</form>
