<input
    type="file"
    class="c-window__file-upload" />

<ol class="o-window__files">

    <li class="c-window__file">
        <span class="c-window__link">
            <img
                alt=""
                src="images/components/c-icon/hdd.png" />
            HDD
        </span>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link c-window__link--printer"
            onclick="window.print();">
            <img
                alt=""
                src="images/components/c-icon/printer.png" />
            Printer
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="https://youtu.be/vPkwIn5W0IE?t=17s">
            <img
                alt=""
                src="images/components/c-icon/cd.png" />
            CD Drive
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="https://www.youtube.com/watch?v=up863eQKGUI">
            <img
                alt=""
                src="images/components/c-icon/floppy.png" />
            Floppy Drive
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="#">
            <img
                alt=""
                src="images/components/c-icon/zipdisk.png" />
            Zip Drive
        </a>
    </li>

</ol>
