<ol class="o-window__files">

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="#">
            <img
                alt=""
                src="images/components/c-icon/hdd.png" />
            F:\
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            onclick="window.print();">
            <img
                alt=""
                src="images/components/c-icon/printer.png" />
            Printer
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="https://youtu.be/vPkwIn5W0IE?t=17s">
            <img
                alt=""
                src="images/components/c-icon/cd.png" />
            CD Drive
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="#">
            <img
                alt=""
                src="images/components/c-icon/floppy.png" />
            Floppy Drive
        </a>
    </li>

    <li class="c-window__file">
        <a
            class="c-window__link"
            href="#">
            <img
                alt=""
                src="images/components/c-icon/zipdisk.png" />
            Zip Drive
        </a>
    </li>

</ol>
