<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>pdfproxy</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

</head>
<body>

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

<main
    class="l-desktop"
    role="main">

<h1 class="content-hide-visually">Desktop</h1>

{{>layout/l-desktop/l-desktop}}

</main>

<!-- Start of #folder-window -->
<aside
    id="folder-window"
    class="o-window o-window--folder"
    role="complementary">

    <div class="o-window__titlebar">
        {{>objects/o-window/o-window.titlebar.cat-pics}}
    </div>

    <div class="o-window__content">
        <ol class="o-window__files">
            {{>objects/o-window/o-window.files}}
        </ol>
    </div>

    <div class="o-window__summary">
        <p>7 files, 85.9 GB available</p>
    </div>

</aside>
<!-- End of #folder-window -->

<!-- Start of #pdf-window -->
<aside
    id="pdf-window"
    class="o-window o-window--pdf"
    role="complementary">

    <div class="o-window__titlebar">
        <h2 class="c-window__title">Problem with Shortcut</h2>

        <button
            class="c-window__close">
            <svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon"><use xlink:href="#icon-close"></use></svg>
        </button>
    </div>

    <div class="o-window__content o-window--alert">

        <p class="c-window__alert-message">
            The destination of this shortcut has changed. Please specifiy a new destination.
        </p>

        <form
            action="https://ancient-cove-23618.herokuapp.com/"
            method="GET">

            <input
                class="c-window__input"
                name="url"
                placeholder="ex: https://en.wikipedia.org/wiki/PDF">

            <button
                class="c-button c-button--primary"
                type="submit">
                OK
            </submit>

            <button
                class="c-button c-button--secondary"
                data-window-close>
                Cancel
            </submit>

        </form>
    </div>
</aside>
<!-- End of #pdf-window -->

{{>meta/scripts/main}}
{{>meta/analytics/google-analytics}}

</body>
</html>
