<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>pdfproxy</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

</head>
<body>

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

<main
    class="l-desktop"
    role="main">

<h1 class="content-hide-visually">Desktop</h1>

{{>layout/l-desktop/l-desktop}}

</main>

<!-- Start of #garbage-window -->
<aside
    id="trash-window"
    class="o-window o-window--trash"
    role="complementary"
    data-draggable>

    <div class="o-window__titlebar" data-drag-handle>
        <h2 class="c-window__title">Garbage</h2>
        {{>objects/o-window/o-window.titlebar}}
    </div>

    <div class="o-window__content">
        {{>objects/o-window/o-window.garbage}}
    </div>

    <div class="o-window__summary">
        <p>3 files, 85.9 GB available</p>
    </div>

</aside>
<!-- End of #garbage-window -->

<!-- Start of #folder-window -->
<aside
    id="folder-window"
    class="o-window o-window--folder"
    role="complementary"
    data-draggable>

    <div class="o-window__titlebar" data-drag-handle>
        <h2 class="c-window__title">cat pics</h2>
        {{>objects/o-window/o-window.titlebar}}
    </div>

    <div class="o-window__content">
        {{>objects/o-window/o-window.cat-pics}}
    </div>

    <div class="o-window__summary">
        <p>7 files, 85.9 GB available</p>
    </div>

</aside>
<!-- End of #folder-window -->

<!-- Start of #pdf-window -->
<aside
    id="pdf-window"
    class="o-window o-window--pdf"
    role="complementary"
    data-draggable>

    <div class="o-window__titlebar" data-drag-handle>
        <h2 class="c-window__title">Problem with Shortcut</h2>
        {{>objects/o-window/o-window.titlebar}}
    </div>

    <div class="o-window__content o-window--alert">
        {{>objects/o-window/o-window.alert}}
    </div>
</aside>
<!-- End of #pdf-window -->

<audio src="static/audio/airhorn.mp3" id="audio-alert"></audio>

{{>meta/scripts/main}}
{{>meta/analytics/google-analytics}}

</body>
</html>
