<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.title.home}} | pdfproxy</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

</head>
<body>

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

<main>

</main>

{{>meta/scripts/main}}
{{>meta/analytics/google-analytics}}

</body>
</html>
