<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>pdfproxy</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

</head>
<body>

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

<main
    class="l-desktop"
    role="main">

<h1 class="content-hide-visually">Desktop</h1>

{{>layout/l-desktop/l-desktop}}

</main>

<!-- Start of #garbage-window -->
<aside
    id="trash-window"
    class="o-window o-window--trash"
    role="complementary">

    <div class="o-window__titlebar">
        <h2 class="c-window__title">Garbage</h2>
        {{>objects/o-window/o-window.titlebar}}
    </div>

    <div class="o-window__content">



<table class="c-garbage-table">
    <tbody>
        <tr class="c-garbage-table__row">
            <td scope="row"><a rel="external noopener" href="https://twitter.com/mclaughlin">@mclaughlin</a></td>
            <td>Twitter</td>
        </tr>
        <tr>
            <td scope="row"><a rel="external noopener" href="https://twitter.com/mclaughlin">@ericwbailey</a></td>
            <td>Twitter</td>
        </tr>
        <tr class="c-garbage-table__row">
            <td scope="row"><a rel="external noopener" href="https://tinyletter.com/hot-garbage">Fresh Garbage</a></td>
            <td>Newsletter</td>
        </tr>
    </tbody>
</table>


    </div>

    <div class="o-window__summary">
        <p>7 files, 85.9 GB available</p>
    </div>

</aside>
<!-- End of #garbage-window -->

<!-- Start of #folder-window -->
<aside
    id="folder-window"
    class="o-window o-window--folder"
    role="complementary"
    data-draggable>

    <div class="o-window__titlebar">
        <h2 class="c-window__title">cat pics</h2>
        {{>objects/o-window/o-window.titlebar}}
    </div>

    <div class="o-window__content">
        {{>objects/o-window/o-window.cat-pics}}
    </div>

    <div class="o-window__summary">
        <p>7 files, 85.9 GB available</p>
    </div>

</aside>
<!-- End of #folder-window -->

<!-- Start of #pdf-window -->
<aside
    id="pdf-window"
    class="o-window o-window--pdf"
    role="complementary"
    data-draggable>

    <div class="o-window__titlebar" data-drag-handle>
        <h2 class="c-window__title">Problem with Shortcut</h2>

        <button
            class="c-window__close" data-window-close>
            <svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon"><use xlink:href="#icon-close"></use></svg>
        </button>
    </div>

    <div class="o-window__content o-window--alert">

        <p class="c-window__alert-message">
            The destination of this shortcut has changed. Please specifiy a new destination.
        </p>

        <form
            action="https://ancient-cove-23618.herokuapp.com/"
            method="GET">

            <input
                class="c-window__input"
                name="url">
            <a
                href="https://ancient-cove-23618.herokuapp.com/?url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FPDF"
                class="c-window__hint"
                rel="external noopener">
                Try https://en.wikipedia.org/wiki/PDF
            </a>

            <button
                class="c-button c-button--primary"
                type="submit">
                OK
            </button>

            <button
                class="c-button c-button--secondary"
                type="button"
                data-window-close>
                Cancel
            </button>

        </form>
    </div>
</aside>
<!-- End of #pdf-window -->

{{>meta/scripts/main}}
{{>meta/analytics/google-analytics}}

</body>
</html>
