<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>pdfproxy</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

</head>
<body>

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

<main class="l-desktop">

<button
    id="computer"
    class="c-icon c-icon--computer">
    <span class="c-icon__label">Computer</span>
</button>

<button
    id="trash"
    class="c-icon c-icon--garbage">
    <span class="c-icon__label">Garbage</span>
</button>

<button
    id="folder"
    class="c-icon c-icon--cat-pics">
    <span class="c-icon__label">Cat Pics</span>
</button>

<button
    id="pdf"
    class="c-icon c-icon--pdf">
    <span class="c-icon__label">internet.pdf</span>
</button>

</main>

<div class="o-window" id="folder-window">
    <div class="o-window__titlebar">
        <h1 class="c-window__title">Cat Pics</h1>

        <button
            id="close"
            class="c-window__close">
            <svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon"><use xlink:href="#icon-close"></use></svg>
        </button>
    </div>

    <div class="o-window__content">
        smokey photos go here very important!
    </div>

    <div class="o-window__summary">
        <p>
            875 files, 10 smokeybites
        </p>
    </div>
</div>

{{>meta/scripts/main}}
{{>meta/analytics/google-analytics}}

</body>
</html>
