<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>pdfproxy</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

</head>
<body>

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

<main
    class="l-desktop"
    role="main">

{{>layout/l-desktop/l-desktop}}

</main>

<div class="o-window" id="folder-window">
    <div class="o-window__titlebar">

        {{>objects/o-window/o-window.titlebar}}

    </div>

    <div class="o-window__content">
        <ol class="o-window__files">

            {{>objects/o-window/o-window.files}}

        </ol>
    </div>

    <div class="o-window__summary">
        <p>
            875 files, 10 smokeybites
        </p>
    </div>
</div>

<div class="o-window" id="pdf-window">
    <div class="o-window__titlebar">
        <h1 class="c-window__title">Broken Alias</h1>

        <button
            class="c-window__close">
            <svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon"><use xlink:href="#icon-close"></use></svg>
        </button>
    </div>

    <div class="o-window__content">
        <form action="https://ancient-cove-23618.herokuapp.com/" method="GET">
        <input name="url">
        <button type="submit">OK</submit>
        </form>
    </div>
</div>

{{>meta/scripts/main}}
{{>meta/analytics/google-analytics}}

</body>
</html>
