<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.title.home}} | pdfproxy</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

</head>
<body>

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

<main class="l-desktop">

<button
    id="computer"
    class="c-icon c-icon--computer">
    <span class="c-icon__label">Computer</span>
</button>

<button
    id="trash"
    class="c-icon c-icon--garbage">
    <span class="c-icon__label">Garbage</span>
</button>

<button
    id="folder"
    class="c-icon c-icon--cat-pics">
    <span class="c-icon__label">Cat Pics</span>
</button>

<button
    id="pdf"
    class="c-icon c-icon--pdf">
    <span class="c-icon__label">internet.pdf</span>
</button>

</main>

{{>meta/scripts/main}}
{{>meta/analytics/google-analytics}}

</body>
</html>
